*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: antiquewhite;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  color: brown;
}

#paineizinho {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: rgb(249, 242, 232);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  gap: 5%;
  row-gap: 20px;

}

.tabuada-coluna:hover{
transform: scale(1.05);
}

.tabuada-coluna {
  border: 1px solid brown;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 15%;
  transition: 0.3s ease;
}

button {
  background-color: brown;
  color: rgb(249, 242, 232);
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  background-color: #5a2d0c;
}
